:root{
    font-family: 'Roboto';
    font-size: 10px;
}
body{
    margin: 0;
}
.button{
    height: 4rem;
    background: linear-gradient(90.08deg, #FE6201 0.05%, #ED4B7C 99.92%);
    box-shadow: 0px .4rem .4rem rgba(254, 98, 1, 0.3);
    border-radius: 2.4rem;
    display: grid;
    justify-items: center;
    align-items: center;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.9rem;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    transition: background-color 0.6s ease, color 0.6s ease;
}
.button:hover{
    text-decoration: none;
    color: #FE6201;
    background: transparent;
    border: 1px solid #FE6201;
}
.title-h3 {
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 4.2rem;
    line-height: 4.9rem;
    color: #2B283A;
}
