:root{
    font-family: 'Roboto';
    font-size: 10px;
}
body{
    margin: 0;
}
.container{
    width: 1170px;
    margin: 0 auto;
    height: 100%;
}
.button{
    height: 4rem;
    background: linear-gradient(90.08deg, #FE6201 0.05%, #ED4B7C 99.92%);
    box-shadow: 0px .4rem .4rem rgba(254, 98, 1, 0.3);
    border-radius: 2.4rem;
    display: grid;
    justify-items: center;
    align-items: center;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.9rem;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}
.title-h3 {
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 4.2rem;
    line-height: 4.9rem;
    color: #2B283A;
}
.row{
    display: grid;
    grid-template-columns: repeat(12, 70px);
    grid-template-rows: auto;
    grid-gap: 30px;
}
.col{
    box-sizing: border-box;
}
.col-1{
    grid-column-end: span 1;
}
.col-2{
    grid-column-end: span 2;
}
.col-3{
    grid-column-end: span 3;
}
.col-4{
    grid-column-end: span 4;
}
.col-5{
    grid-column-end: span 5;
}
.col-6{
    grid-column-end: span 6;
}
.col-7{
    grid-column-end: span 7;
}
.col-8{
    grid-column-end: span 8;
}
.col-9{
    grid-column-end: span 9;
}
.col-10{
    grid-column-end: span 10;
}
.col-11{
    grid-column-end: span 11;
}
.col-12{
    grid-column-end: span 12;
}
.align-content-center{
    align-content: center;
}
.align-items-center{
    align-items: center;
}
