.container{
    width: 1170px;
    margin: 0 auto;
    height: 100%;
}
.row{
    display: grid;
    grid-template-columns: repeat(12, 70px);
    grid-template-rows: auto;
    grid-gap: 30px;
}
.col{
    box-sizing: border-box;
}
.col-1{
    grid-column-end: span 1;
}
.col-2{
    grid-column-end: span 2;
}
.col-3{
    grid-column-end: span 3;
}
.col-4{
    grid-column-end: span 4;
}
.col-5{
    grid-column-end: span 5;
}
.col-6{
    grid-column-end: span 6;
}
.col-7{
    grid-column-end: span 7;
}
.col-8{
    grid-column-end: span 8;
}
.col-9{
    grid-column-end: span 9;
}
.col-10{
    grid-column-end: span 10;
}
.col-11{
    grid-column-end: span 11;
}
.col-12{
    grid-column-end: span 12;
}
.align-content-center{
    align-content: center;
}
.align-items-center{
    align-items: center;
}