@import url('css/main.css');

/* HEADER */
.header{
    height: 11.8rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.header__content{
    height: 100%;
}
.header__logo{
    text-decoration: none;
}
.header__logo-top{
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 1.69714rem;
    line-height: 1.7rem;
    letter-spacing: 0.745em;
    text-transform: uppercase;
    color: #FE6201;
    margin-top: 0.3rem;
}
.header__logo-bot{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 2.64rem;
    line-height: 97.5%;
    letter-spacing: 0.115em;
    color: #252525;
}
.header__menu{
    grid-column-start: 4;
}
.menu__list{
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, max-content);
    justify-content: space-between;
    align-items: center;
}
.menu__link{
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #000000;
}
.menu__curent-page{
    font-weight: 700;
}
.menu__curent-page::before{
    content: "";
    display: inline-block;
    height: 1.3rem;
    width: 1.3rem;
    background: linear-gradient(90.08deg, #FE6201 0.05%, #ED4B7C 99.92%);
    border-radius: 2.4rem;
    margin-right: 0.8rem;
}
.header__login{
    grid-column-start: 11;
    align-self: center;
}


/* MAIN BLOCK */
.main-block {
    position: relative;
    height: 73.9rem;
}
.main-block__img1 {
    position: absolute;
    top: 14.9rem;
    right: 60.4rem;
    z-index: -1;
}
.main-block__img2 {
    position: absolute;
    bottom: 16.2rem;
    right: 9.9rem;
    z-index: -1;
}
.main-block__container{
    height: 100vh;
    display: grid;
    align-content: center;
}
.main-block__background{
    position: absolute;
    width: 52.474rem;
    height: 86.755rem;
    right: 6.8rem;
    top: -19rem;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/main-bg.png);
    background-size: cover;
    background-position: center center;
    border-radius: 50rem;
    transform: rotate(38.15deg);
    z-index: -1;
}
.main-block__title{
    font-style: normal;
    font-weight: bold;
    font-size: 6rem;
    line-height: 7rem;
    color: #2B283A;
    margin: 0;
    margin-bottom: 3rem;
    margin-top: -11rem;
}
.main-block__text{
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #6B6B6B;
    margin-bottom: 4.4rem;
}

/* BANNER */
.banner{
    height: 17.1rem;
    background: #FFFFFF;
    box-shadow: 0px 0px 1.2rem rgba(0, 0, 0, 0.1);
    border-radius: .8rem;
    display: grid;
    align-content: center;
    position: relative;
}
.banner__img {
    position: absolute;
    z-index: -1;
    left: -7.2rem;
    bottom: -2.772rem;
}
.banner__title{
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.8rem;
    color: #2B283A;
    grid-column-start: 2;
    margin: 0;
}
.banner__link{
    height: 4.1rem;
    background: #3D2B99;
    box-shadow: 0px .8rem 1.2rem rgba(61, 43, 153, 0.3);
    border-radius: .8rem;
    display: grid;
    align-items: center;
    justify-items: center;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.1rem;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}
.banner__link:first-of-type{
    grid-column-start: 6;
}

/* LEARN */
.learn {
    height: 59.2rem;
}
.learn__info {
    margin-top: 18.8rem;
}
.learn__text {
    margin: 0;
    margin-top: 3.2rem;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #797979;
}
.learn__card {
    margin-top: 13.5rem;
    height: 294px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    border-radius: 4px;
    position: relative;
    padding: 7.7rem 6rem 0 6rem;
    box-sizing: border-box;
}
.learn__card-1 {
    background: url(img/learn-1.jpg) no-repeat;
}
.learn__card-2 {
    background: url(img/learn-2.jpg) no-repeat;
}
.learn__card-title {
    margin: 0;
    margin-bottom: 3.1rem;
    font-weight: bold;
    font-size: 2.8rem;
    line-height: 3.3rem;
    text-align: center;
    color: #FFFFFF;
}
.learn__card-text {
    margin: 0;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.1rem;
    text-align: center;
    color: #F2F2F2;
}
.learn__card-button {
    position: absolute;
    bottom: -2rem;
    left: 10rem;
    width: 17rem;
}
.learn__card-img {
    position: absolute;
    z-index: -1;
    right: -7.7rem;
    bottom: -4rem;
}

/* follow */
.follow {
    background: #F1F3F6;
    height: 26.3rem;
    padding-top: 5rem;
    box-sizing: border-box;
    position: relative;
    z-index: -2;
}
.follow__img {
    position: absolute;
    top: 12rem;
    left: 5.5rem;
    z-index: -1;
}
.follow__title {
    text-align: center;
    margin-bottom: 4.7rem;
}
.follow__card {
    background: linear-gradient(34.87deg, #4776E6 1.22%, #8E54E9 97.88%);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
    border-radius: 24px;
    padding-top: 4.1rem;
    box-sizing: border-box;
    margin-bottom: 15.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.follow__card-green {
    background: linear-gradient(90deg, #ADD100 0%, #7B920A 100%);
}
.follow__card-red {
    background: linear-gradient(33.88deg, #FE6201 6.73%, #ED4B7C 96.13%);
}
.follow__card-title {
    margin: 0;
    margin-bottom: 2.9rem;
    text-align: center;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.8rem;
    color: #FFFFFF;
    
}
.follow__card-text {
    margin: 0 auto;
    margin-bottom: 4.1rem;
    max-width: 24.1rem;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2.1rem;
    text-align: center;
    color: #FFFFFF;
}
.follow__card-list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #FFFFFF;
    display: block;
}
.follow__card-item {
    display: flex;
    align-items: center;
    margin-bottom: 2.2rem;
    margin-left: -2.5rem;
}
.follow__card-item::before {
    content: "";
    height: .2rem;
    width: 1.5rem;
    background: #FFFFFF;
    margin-right: 1.9rem;
}
.follow__card-link {
    display: flex;
    justify-content: center;
    height: 5rem;
    width: 5rem;
    background: #FFFFFF;
    border-radius: 100%;
    margin-bottom: 3.4rem;
    margin-top: 2.5rem;
}